body{
	background-color: #fff;
	margin: 0;
	font-family: 'Courier New', Courier, monospace;
}

.square{
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 10%;
	transition: background 0.8s;
}

#container{
	margin: 10px auto;
	max-width: 480px;
}

h1{
	text-align: center;
	line-height: 1.1;
	font-weight: bold;
	color: white;
	background: steelblue;
	margin: 0;
	text-transform: uppercase;
	padding: 10px 0;
}

#colorDisplay{
	font-size: 200%;
}

#message{
	display: inline-block;
	width: 10%;

}

#stripe{
	background: white;
	height: 30px;
	text-align: center;
	color: black;
}

.selected{
	color: white;
	background: steelblue;
}
button{
	margin:5px 5px;
	border-radius: 2rem;
	border:2px solid rebeccapurple;
	background: none;
	height: 100%;
	font-weight: 100;
	/* color: steelblue; */
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.4s;
	outline: none;
}

button:hover {
	color: white;
	background: rebeccapurple;
}