@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
* {
  font-family: Ubuntu;
  font-size: 40px;
}

.form-uname {
  /* width: 200px; */
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.form-sub {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input {
  color: black;
}

input:valid {
  color: green;
}

.result {
  position: absolute;
  color: green;   
  width: 100%;
  text-align: center;
  top: 60%;
}